// Uncomment if needed
@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/global.scss' as *;

// TODO: change to kebab-case
.y-table-data-cell {
  position: relative;
  padding: utils.space(xs) utils.space(sm);
  text-align: left;
  white-space: nowrap;
  place-content: center;

  --gap: var(--space-sm);
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: calc(var(--space-xxs) / 4);
  --line-color: var(--color-primary);

  &:is(th) {
    background-color: oklch(from var(--color-primary) l c h / 70%);
  }

  &:hover:not(th) {
    background-color: var(--color-primary-30);
  }

  &::after {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
    inline-size: 100%;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    bottom: 0;
  }

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
    inline-size: var(--line-thickness);
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
    inset-inline-start: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
