/* @property --color-primary {
  syntax: '<color>';
  inherits: true;
} */

:root {
  --color-theme-100: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 10%);
  --color-theme-200: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 20%);
  --color-theme-300: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 30%);
  --color-theme-400: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 40%);
  --color-theme-500: var(--color-theme, var(--color-primary));
  --color-theme-600: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 60%);
  --color-theme-700: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 70%);
  --color-theme-800: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 80%);
  --color-theme-900: color-mix(in srgb, var(--color-theme, var(--color-primary)), white 90%);
}