/* 
 * Main file for CSS custom properties variables
 * 1 - Spacing
  * 2 - Typography
  * 3 - Colors
  * 4 - Components
  * 5 - Theme
  * 6 - Breakpoints
*/

@use 'base/base';
@use 'theme/theme' as theme;
@use 'utils' as utils;
@use 'sass:map';
@use 'sass:math';

// TODO: Old version
@property --color-main-dark {
  syntax: '<color>';
  initial-value: #616970;
  inherits: true;
}

@property --color-bg {
  syntax: '<color>';
  initial-value: #f8f9fa;
  inherits: true;
}

@property --raw {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

:root {
  /* https://dev.to/tracygjg/conditional-css-437e */
  --true: 1;
  --false: 0;
}

body {
  --not-raw: calc(1 - var(--raw));
}

a {
  text-decoration: none;
}

.raw {
  --raw: var(--true);
}

// @use "utils/mixins" as *;

@include utils.cssvars(
  'theme',
  (
    border-radius: 0,
    bg-opacity: 1,
    base-unit: 6px,
    unit-50: calc(var(--theme-base-unit) * 0.5),
    base-unit-calc: calc(var(--theme-base-unit) * var(--not-raw, 1)),
    variant: 'contained',
    current-color: color-mix(
        in srgb,
        var(--color-primary) calc(var(--primary) * 100%),
        color-mix(
          in srgb,
          var(--color-secondary) calc(var(--secondary) * 100%),
          var(--color-danger) calc(var(--danger) * 100%)
        )
      ),
    // Can not be called in SCSS as it's gonna be built once, removing the dynamic advantage of CSS Custom Properties at runtime
    // current-color: calc(
    //     var(--primary) * var(--color-primary) + var(--secondary) * var(--color-secondary) +
    //       var(--danger) * var(--color-danger)
    //   ),
     // color: 'hsl(var(--theme-hue), var(--theme-saturation), var(--theme-lightness))',
  )
);

// -----------------------------------------------------------------------------

// 1 - Spacing

/* 
  * TODO: V2?
  *  https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 
  * "Using the same base values from the fluid type calculator, this tool helps you to create a related fluid space system."
  */

/* Spacing | Global */
// :root {
//   --space-unit: clamp(1em, 1.5vw, 2em);
//   --space-unit: 1em;
//   --space-xxs: calc(0.25 * var(--space-unit));
//   --space-xs: calc(0.5 * var(--space-unit));
//   --space-sm: calc(0.75 * var(--space-unit));
//   --space-md: calc(1.25 * var(--space-unit)); // 20px
//   --space-lg: calc(2 * var(--space-unit)); // 32px
//   --space-xl: calc(3.25 * var(--space-unit)); // 52px
//   --space-xxl: calc(5.25 * var(--space-unit));
// }

@include utils.cssvars(
  'space',
  (
    unit: 1rem,
    xxs: calc(0.25 * var(--space-unit)),
    xs: calc(0.5 * var(--space-unit)),
    sm: calc(0.75 * var(--space-unit)),
    md: calc(1.25 * var(--space-unit)),
    lg: calc(2 * var(--space-unit)),
    xl: calc(3.25 * var(--space-unit)),
    xxl: calc(5.25 * var(--space-unit)),
  )
);

/* responsive rule affecting all spacing variables */
@media (width >= 64rem) {
  :root {
    --space-unit: 1.25em; /* 👇 this responsive decision affects all margins and paddings */
  }
}

// -----------------------------------------------------------------------------

// 2 - Typography

/**
 * Basic typography style for copy text
 */
// body {
//   color: $text-color;
//   font: normal 125% / 1.4 $text-font-stack;
// }

// :root {
//   /* Step -2: 10.24px → 7.1111px */
//   --text-xs: clamp(0.4444rem, 0.6881rem + -0.2407vw, 0.64rem);
//   /* Step -1: 12.8px → 10.6667px */
//   --text-sm: clamp(0.6667rem, 0.8328rem + -0.1641vw, 0.8rem);
//   /* Step 0: 16px → 16px */
//   --text-md: clamp(1rem, 1rem + 0vw, 1rem);
//   /* Step 1: 20px → 24px */
//   --text-lg: clamp(1.25rem, 1.1885rem + 0.3077vw, 1.5rem);
//   /* Step 2: 25px → 36px */
//   --text-xl: clamp(1.5625rem, 1.3933rem + 0.8462vw, 2.25rem);
//   /* Step 3: 31.25px → 54px */
//   --text-xxl: clamp(1.9531rem, 1.6031rem + 1.75vw, 3.375rem);
//   /* Step 4: 39.0625px → 81px */
//   --h1: clamp(2.4414rem, 1.7962rem + 3.226vi, 5.0625rem);
//   /* Step 5: 48.8281px → 121.5px */
//   // --h1: clamp(3.0518rem, 1.9337rem + 5.5901vw, 7.5938rem);

//   /* Step 5: 67.34px → 199.60px */
//   --h1-highlight: clamp(4.2088rem, 2.174rem + 10.1738vw, 12.475rem);
//   /* --h1: clamp(1.3688rem, 2.174rem + 10.1738vw, 12.475rem); */
// }

/* https://utopia.fyi/type/calculator/?c=320,16,1.25,1620,16,1.5,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
@include utils.cssvars(
  'text',
  (
    xs: clamp(0.4444rem, 0.6881rem + -0.2407vw, 0.64rem),
    sm: clamp(0.6667rem, 0.8328rem + -0.1641vw, 0.8rem),
    md: clamp(1rem, 1rem + 0vw, 1rem),
    lg: clamp(1.25rem, 1.1885rem + 0.3077vw, 1.5rem),
    xl: clamp(1.5625rem, 1.3933rem + 0.8462vw, 2.25rem),
    xxl: clamp(1.9531rem, 1.6031rem + 1.75vw, 3.375rem),
    h1: clamp(2.4414rem, 1.7962rem + 3.226vi, 5.0625rem),
  )
);

// -----------------------------------------------------------------------------

// 3 - Colors

// @property --component-bg {
//   syntax: "<color>";
//   inherits: true;
//   initial-value: hsla(from utils.color(primary) h s l / utils.theme(bg-opacity));
// }

@include utils.cssvars(
  'color',
  (
    // primary: #fbe134,
    // primary: var(--color-primary),
    // danger: var(--color-danger),
    // main-dark: #0b0c0c,
    main-dark: var(--color-main-dark),
    dark-50: color-mix(in srgb, utils.color(main-dark) 70%, white),
    bg: var(--color-bg),
    bg-50: color-mix(in srgb, utils.color(bg) 50%, white),
    primary-80: color-mix(in srgb, utils.color(primary) 80%, white),
    primary-60: color-mix(in srgb, utils.color(primary) 60%, white),
    primary-40: color-mix(in srgb, utils.color(primary) 40%, white),
    primary-20: color-mix(in srgb, utils.color(primary) 20%, white),
    primary-10: color-mix(in srgb, utils.color(primary) 10%, white),
    color-white: #fff,
    theme-color: utils.color(primary),
    initial-light: #f5f5f5
  ),
  (
    root: true,
  )
);

// -----------------------------------------------------------------------------

// 4 - Components

@include utils.cssvars(
  'component',
  (
    // height: auto,
    transform: translate(0, 0),
    transform-value: calc(utils.theme(base-unit-calc) / 2 * var(--active)),
    transform-hover: utils.component(transform),
    transform-focus: translate(0, 0),
    transform-focus-visible: translate(0, 0),
    transform-active: translate(3px, 3px),
    transform-disabled: none,
    color: initial,
    margin-x: utils.space(sm),
    padding-x: utils.space(unit),
    padding-y: utils.space(xxs),
    margin-bottom: utils.space(unit),
    border-width: 2px,
    border-style: solid,
    border-color: transparent,
    font-size: 1rem,
    not-contained: calc(1 - var(--contained, 1)),
    transition: all 0.1s linear
  )
);

$colors: ('primary', 'secondary', 'danger');
$states: ('base', 'hover', 'active', 'focus', 'disabled');
$variants: ('contained', 'outlined', 'text');

@mixin theme-component {
  padding: utils.component(padding-y) utils.component(padding-x);
  margin: 0 utils.component(margin-x) 0 utils.component(margin-bottom);
  box-shadow: utils.component(box-shadow);
  outline: none;
  transform: utils.component(transform);
  transition: utils.component(transition);

  &.small {
    // @include utils.component(padding-y, space(xs));
    @include utils.component(padding-x, utils.space(xs));
    @include utils.component(height, 2rem); // 32px
  }

  &.large {
    // @include utils.component(padding-y, space(md));
    @include utils.component(padding-x, utils.space(md));
    @include utils.component(height, 3rem); // 48px
  }

  @include raw-component;
  @include hero-component;

  height: utils.component(height);
  font-weight: bold;
  margin-bottom: utils.component(margin-bottom);
  border-width: utils.component(border-width);
  border-style: utils.component(border-style);
  border: utils.component(border-width) utils.component(border-style) utils.component(border-color);
  font-size: 1rem;

  // Color Props
  @include theme.primary;
  @include theme.secondary;
  @include theme.danger;

  // State Props
  @include theme.base;
  @include theme.hover;
  @include theme.disabled;

  // Variant Props
  @include theme.contained;
  @include theme.outlined;
  @include theme.text;

  --component-bg-hue: calc(var(--color-bg-hue));
  --component-bg-saturation: calc(
    var(--color-bg-saturation) + var(--variant-bg-saturation) + var(--state-bg-saturation)
  );

  // --component-bg-lightness: calc(var(--color-bg-lightness) + var(--variant-bg-lightness) + var(--state-bg-lightness));
  --component-bg-lightness: calc(
    var(--variant-bg-lightness) + var(--state-bg-lightness) + var(--color-bg-lightness)
  );
  --component-bg-opacity: calc(
    var(--color-bg-opacity) * var(--variant-bg-opacity) * var(--state-bg-opacity)
  );
  --component-bg-chroma: calc(
    var(--color-bg-chroma) + var(--variant-bg-chroma) + var(--state-bg-chroma)
  );
  --component-border-hue: calc(var(--color-border-hue));
  --component-border-saturation: calc(
    var(--color-border-saturation) + var(--variant-border-saturation) +
      var(--state-border-saturation)
  );
  --component-border-lightness: calc(
    var(--color-border-lightness) + var(--variant-border-lightness) + var(--state-border-lightness)
  );
  --component-border-opacity: calc(
    var(--color-border-opacity) * var(--variant-border-opacity) * var(--state-border-opacity)
  );
  --component-border-chroma: calc(
    var(--color-border-chroma) + var(--variant-border-chroma) + var(--state-border-chroma)
  );
  --component-text-hue: calc(var(--color-text-hue));
  --component-text-saturation: calc(
    var(--color-text-saturation) + var(--variant-text-saturation) + var(--state-text-saturation)
  );

  // --component-text-lightness: calc((var(--color-text-lightness) - var(--threshold) * 1%) * -100%);
  --component-text-lightness: calc((var(--color-text-lightness)));
  --component-text-opacity: var(--state-text-opacity);
  --component-text-chroma: calc(
    var(--color-text-chroma) + var(--variant-text-chroma) + var(--state-text-chroma)
  );
  --component-opacity-bg: var(--component-bg-opacity);
  --component-opacity-border: var(--component-border-opacity);
  --component-opacity-text: var(--component-text-opacity);

  // --component-color-bg: hsl(
  //   var(--component-bg-hue),
  //   var(--component-bg-saturation),
  //   var(--component-bg-lightness),
  //   var(--component-bg-opacity)
  // );
  // --component-color-border: hsl(
  //   var(--component-border-hue),
  //   var(--component-border-saturation),
  //   var(--component-border-lightness),
  //   var(--component-border-opacity)
  // );
  // --component-color-text: hsl(
  //   var(--component-text-hue),
  //   var(--component-text-saturation),
  //   var(--component-text-lightness),
  //   var(--component-text-opacity)
  // );
  --component-color-bg: oklch(
    var(--component-bg-lightness) var(--component-bg-chroma) var(--component-bg-hue) /
      var(--component-bg-opacity)
  );
  --component-color-border: oklch(
    var(--component-border-lightness) var(--component-border-chroma) var(--component-border-hue) /
      var(--component-border-opacity)
  );
  --component-color-text: oklch(
    var(--component-text-lightness) var(--component-text-chroma) var(--component-text-hue) /
      var(--component-text-opacity)
  );

  background-color: var(--component-color-bg);
  border-color: var(--component-color-border);
  color: var(--component-color-text);
}

@mixin interactive-component {
  @include theme.focus;
  @include theme.active;
}

@mixin raw-component {
  &.raw {
    // --raw: var(--true);
    box-shadow: none;

    // &:hover {
    //   // transform: none;
    //   box-shadow: none;
    //   @include utils.component(bg-color, utils.color(primary-60));
    // }

    &:active,
    &:focus-visible {
      // transform: none;
      box-shadow: none;
    }
  }
}

@mixin hero-component {
  &.hero {
    @include utils.component(bg-color, utils.color(primary));
    @include utils.component(color, utils.color(main-dark));
    @include utils.component(box-shadow, unset);
    @include utils.component(padding-y, utils.space(md));
    @include utils.component(padding-x, utils.space(md));
    @include utils.component(font-size, utils.text(xl));

    &:hover:not(:focus-visible, :active) {
      @include utils.component(box-shadow, utils.component(box-shadow-base));
    }
  }
}

h1,
.text-h1 {
  font-size: utils.text(h1);
}

h2,
.text-xxl {
  font-size: utils.text(xxl);
}

h3,
.text-xl {
  font-size: utils.text(xl);
}

h4,
.text-lg {
  font-size: utils.text(lg);
}

p {
  font-size: utils.text(md);
  margin: utils.space(xs) 0;
}

.text-sm {
  font-size: utils.text(sm);
}

.text-xs {
  font-size: utils.text(xs);
}

// -----------------------------------------------------------------------------

// 6 - Breakpoints

@include utils.cssvars(
  'breakpoint',
  (
    mobile: 640px,
    tablet: 768px,
    desktop: 1024px,
    desktop-xl: 1280px,
    desktop-xxl: 1820px,
  )
);

$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;
$breakpoint-desktop-xxl: 1820px;
$breakpoints: (
  'mobile': $breakpoint-mobile,
  'tablet': $breakpoint-tablet,
  'desktop': $breakpoint-desktop,
  'desktop-xl': $breakpoint-desktop-xl,
  'desktop-xxl': $breakpoint-desktop-xxl,
);

// Breakpoints
@mixin desktop {
  @media screen and (min-width: #{$breakpoint-desktop}px) {
    @content;
  }
}

@mixin media($size) {
  $query: map.get($breakpoints, $size);

  @media only screen and (min-width: $query) {
    @content;
  }
}

// -----------------------------------------------------------------------------

// 7 - Sizes
// Used for Modals, Dialogs, Cards, etc.

@include utils.cssvars(
  'size',
  (
    small: 320px,
    medium: 640px,
    large: 960px,
  )
);

.size-small {
  width: utils.size(small);
}

.size-medium {
  width: utils.size(medium);
}

.size-large {
  width: utils.size(large);
}

// -----------------------------------------------------------------------------

// 7 - Layout
// Used for Layout components (Grid, Flexbox, etc.)

@include utils.cssvars(
  'layout',
  (
    gap: utils.space(sm),
  )
);

// -----------------------------------------------------------------------------

// 8 - Components
// Used for specific Components (Buttons, Inputs, etc.)

@include utils.cssvars(
  'y-btn',
  (
    height: 45px,
    // 42px
  )
);
