/* https://grafikart.fr/tutoriels/conteneur-css-1233 */
.y-container {
  box-sizing: border-box;
  width: min(var(--breakpoint-sm), calc(100% - 4 * var(--layout-mobile-padding)));
  margin-inline: auto;

  &.fluid {
    width: 100%;
  }
}
/* 
@media (min-width: 768px) {
  .y-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .y-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .y-container {
    max-width: 1280px;
  }
}

@media (min-width: 1820px) {
  .y-container {
    max-width: 1820px;
  }
} */
