@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/theme.scss' as *;

.y-divider {
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: utils.space(unit);
  padding: utils.space(xs) utils.space(unit);

  @include theme-component;

  @include utils.component(padding-y, space(xs));

  &.-small {
    @include utils.component(padding-y, space(xxs));
  }
}
