/* https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds/63848864#63848864 */
/* Used for the shake animation see shake.css */
@property --highlighted-color-1 {
  syntax: '<color>';
  initial-value: #e3c567;
  inherits: false;
}

@property --highlighted-color-2 {
  syntax: '<color>';
  initial-value: #e3c567;
  inherits: false;
}

/* Control wether the highlighted background is displayed by default */
/* Used with animation */
@property --active {
  syntax: '<integer>';
  initial-value: 1;
  inherits: true;
}

h1.-highlighted,
h2.-highlighted,
h3.-highlighted,
h4.-highlighted,
.h1.-highlighted,
.text-xxl.-highlighted,
.text-xl.-highlighted,
.text-lg.-highlighted,
.text-md.-highlighted,
.text-sm.-highlighted,
.text-xs.-highlighted,
p.-highlighted,
span.-highlighted,
*.-highlighted {
  /* // --highlighted-bg-color: color-mix(
  //   in srgb,
  //   var(--color-bg),
  //   var(--theme-current-color) calc(100% * var(--active, 0))
  // ); */
  --highlighted-bg-color-1: var(--highlighted-bg-color);
  --highlighted-bg-color-2: var(--highlighted-bg-color);

  text-transform: uppercase;
  /* TODO: check responsive line-height */
  line-height: 135%;
  margin: 0;
  position: relative;

  /* // line-height: 135%; */
  /* // margin: 0; */
  /* // padding: 4px 10px 1.4px; */

  &.stick-to-left {
    /* // position: relative; */
    --left-mobile-val: calc(
      0px - var(--layout-mobile-padding) -
        var(--highlighted-text-gap-left, clamp(-30px, -1.4vw, -2px))
    );
    --left-pos: calc(0px - var(--highlighted-text-gap-left));
    padding-right: clamp(2px, 1.4vw, 30px);

    left: var(--left-pos);
  }
}

.-highlighted.stick-to-left > span.labeled:first-of-type {
  padding-left: var(--highlighted-text-gap-left);
}

.-highlighted > span {
  position: relative;

  --highlighted-bg-color-1: var(--theme-current-color);
  --highlighted-bg-color-2: var(--theme-current-color);

  --highlighted-bg: linear-gradient(var(--highlighted-bg-color-1), var(--highlighted-bg-color-2));

  color: var(--color-bg);
  /* TODO: Gotham balance padding */
  padding: 4.55px 2px 0 2px;
  background-image: var(--highlighted-bg);
  /* -webkit-box-decoration-break: clone; */
  /* box-decoration-break: clone; */
}

.-highlighted.stick-to-left {
  margin-right: calc(-1 * clamp(2px, 1.4vw, 30px));
}

/* .-highlighted > span.labeled {
  left: clamp(-30px, -1.4vw, -2px);
  padding-left: clamp(2px, 1.4vw, 30px);
} */

@media (min-width: 80rem) {
  /* 1280px */
  .-highlighted.-animate > span {
    color: var(--theme-current-color);
    --animate-in: highlight-to-left 0.5s 0.1s forwards;
    --animate-out: highlight-to-right 0.4s forwards;
    background-size: 0% 100%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    background-position: left;
    animation: var(--highlight-animate);
  }

  .-highlighted.-animate.-active > span {
    --animate-in: highlight-to-right 0.5s forwards;
    --animate-out: highlight-to-left 0.4s 0.1s forwards;
  }

  .-highlighted.-animate:hover > span {
    --highlight-animate: var(--animate-in);
  }

  .-highlighted.-animate:not(:hover) > span {
    --highlight-animate: var(--animate-out);
  }
}

@keyframes highlight-to-left {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 100%;
    background-image: var(--highlighted-bg);
    color: var(--color-bg);
  }
}

@keyframes highlight-to-right {
  0% {
    background-size: 100% 100%;
    background-image: var(--highlighted-bg);
    color: var(--color-bg);
  }
  50% {
    background-size: 100% 100%;
    background-position: right;
  }
  100% {
    background-size: 0% 100%;
    background-color: transparent;
    background-position: right;
    color: var(--theme-current-color);
  }
}
