// Uncomment if needed
@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/theme.scss' as *;

// TODO: change to kebab-case
// TODO: https://www.notion.so/guido-web-training/Storybook-and-Vite-Global-SCSS-Variables-are-not-found-31629867a8bd4323b28dee411e3f7c0f?pvs=4

.highlighted-text {
  font-family: gotham;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  /* TODO: check responsive line-height */
  line-height: 135%;
  margin: 0;
  margin: 0;

  --hovered: false;

  > span {
    position: relative;

    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    position: relative;
    box-decoration-break: clone;
    // border-left: 5px solid var(--color-primary);
    padding: 2px;
    // background-image: var(--highlighted-bg);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    // &::before {
    left: clamp(-30px, -1.4vw, -2px);
    padding-left: clamp(2px, 1.4vw, 30px);
  }

  @include media(desktop) {
    > span {
      background-image: linear-gradient(var(--color-primary), var(--color-primary));
    }
  }

  > span {
    // TODO: right padding
    // padding: 4px 10px 1.4px; // padding-bottom 1.4px to balance with Gotham font
    // padding: 2px;

    color: var(--initial-light);
  }

  @include media(desktop) {
    &.animate {
      // --animate-out: unset;
      // &:has(.animate > span:hover) {
      //   --hovered: true;
      //   --animate-out: animate-out 0.6s 0s forwards;
      // }

      > span {
        --animate-in: highlight-to-left 0.5s 0.1s forwards;
        --animate-out: highlight-to-right 0.4s forwards;
        background-size: 0% 100%;
        -webkit-background-clip: padding-box, text;
        background-clip: padding-box, text;
        background-repeat: no-repeat;
        background-position: left;
        animation: var(--highlight-animate);
      }
    }
    &.active > span {
      --animate-in: highlight-to-right 0.5s forwards;
      --animate-out: highlight-to-left 0.4s 0.1s forwards;
    }

    &.animate:has(> span:hover) > span {
      --highlight-animate: var(--animate-in);
    }

    &.animate:has(> span:not(:hover)) > span {
      --highlight-animate: var(--animate-out);
    }
  }
}

@keyframes highlight-to-left {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 100%;
    background-position: left;
  }
  100% {
    background-size: 100% 100%;
    background-position: right;
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    color: var(--initial-light);
  }
}

@keyframes highlight-to-right {
  0% {
    background-size: 100% 100%;
    // background-position: right;
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    color: inherit;
  }
  50% {
    background-size: 100% 100%;
    background-position: right;
  }
  100% {
    background-size: 0% 100%;
    background-color: transparent;
    background-position: right;
    mix-blend-mode: difference;
  }
}
