/* https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds/63848864#63848864 */
.highlighted {
  text-transform: uppercase;

  /* TODO: check responsive line-height */
  line-height: 135%;
  margin: 0;
  position: relative;

  &.stick-to-left {
    --left-pos: calc(0px - var(--highlighted-text-gap-left));

    /* padding-right: clamp(2px, 1.4vw, 30px); */
    left: var(--left-pos);
  }
}

.highlighted.stick-to-left > span:first-of-type {
  padding-left: var(--highlighted-text-gap-left);
}

.highlighted > span {
  position: relative;

  --highlighted-bg-color-1: var(--theme-current-color);
  --highlighted-bg-color-2: var(--theme-current-color);
  --highlighted-bg: linear-gradient(var(--highlighted-bg-color-1), var(--highlighted-bg-color-2));

  color: var(--color-bg);

  /* TODO: Gotham balance padding */
  padding: 4.55px 2px 0;
  background-image: var(--highlighted-bg);
}

.highlighted.stick-to-left {
  margin-right: calc(-1 * clamp(2px, 1.4vw, 30px));
}

/* .highlighted > span.labeled {
  left: clamp(-30px, -1.4vw, -2px);
  padding-left: clamp(2px, 1.4vw, 30px);
} */

@media (min-width: 48rem) {
  /* 1280px */
  .highlighted.animate > span {
    color: var(--theme-current-color);

    /* --animate-in: highlight-to-left 0.5s 0.1s forwards; */

    /* --animate-out: var(--is-hovered-once, highlight-to-right 0.4s forwards); */
    background-size: 100% 100%;

    /* anchor for the “out” state */
    background-position: left;

    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    transition:
      background-size 500ms ease,
      color 500ms ease;
  }

  /* HOVER IN: anchor left, then expand */
  .highlighted.animate:hover > span {
    background-position: left; /* discrete, not transitioned */
    background-size: 100% 100%;
    color: var(--color-bg);
  }

  /* HOVER OUT: anchor right, then shrink */
  .highlighted.animate:not(:hover) > span {
    background-position: right; /* discrete */
    background-size: 0% 100%;
    color: var(--color-primary);
  }

  /* Flip direction when -active */
  .highlighted.animate.active:hover > span {
    background-position: right;
    background-size: 0% 100%;
    color: var(--color-primary);
    box-decoration-break: clone;
  }

  .highlighted.animate.active:not(:hover) > span {
    background-position: left;
    background-size: 100% 100%;
    color: var(--color-bg);
  }
}
/* 
@keyframes highlight-to-left {
  0% {
    background-size: 0% 100%;
  }

  50% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 100% 100%;
    background-image: var(--highlighted-bg);
    color: var(--color-bg);
  }
}

@keyframes highlight-to-right {
  0% {
    background-size: 100% 100%;
    background-image: var(--highlighted-bg);
    color: var(--color-bg);
  }

  50% {
    background-size: 100% 100%;
    background-position: right;
  }

  100% {
    background-size: 0% 100%;
    background-color: transparent;
    background-position: right;
    color: var(--theme-current-color);
  }
} */
