// Uncomment if needed
@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/theme.scss' as *;

// TODO: change to kebab-case
// TODO: https://www.notion.so/guido-web-training/Storybook-and-Vite-Global-SCSS-Variables-are-not-found-31629867a8bd4323b28dee411e3f7c0f?pvs=4

.highlighted-text {
  font-family: gotham;
  font-weight: bold;
  text-transform: uppercase;

  /* TODO: check responsive line-height */
  line-height: 135%;
  margin: 0;

  &.stick-to-left {
    position: relative;
    left: calc(
      0px - utils.layout(mobile-padding) - utils.component(
          'left',
          'y-highlighted-text',
          clamp(-30px, -1.4vw, -2px)
        )
    );
    padding-right: clamp(2px, 1.4vw, 30px);

    @include media(tablet) {
      position: unset;
      left: unset;
      padding-right: unset;
    }
  }

  > span {
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    position: relative;
    padding: 2px;
    box-decoration-break: clone;
    left: utils.component('left', 'y-highlighted-text', clamp(-30px, -1.4vw, -2px));
    padding-left: utils.component('padding-left', 'y-highlighted-text', clamp(2px, 1.4vw, 30px));
  }

  > span {
    transition:
      background-size 0.5s ease-in-out,
      color 0.5s ease-in-out,
      background-color 0.5s ease-in-out;

    // TODO: right padding
    // padding: 4px 10px 1.4px; // padding-bottom 1.4px to balance with Gotham font
    // padding: 2px;

    color: var(--color-bg);
  }

  @include media(desktop) {
    &.animate {
      > span {
        color: var(--color-primary);
        background-size: 0% 100%;

        // background-size: 100% 100%;
        background-clip: padding-box, text;
        background-repeat: no-repeat;
        background-position: left;
        animation: var(--highlight-animate);

        --animate-in: highlight-to-left 0.5s 0.1s forwards;
        --animate-out: var(--is-hovered-once, highlight-to-right 0.8s forwards);
      }

      &.active > span {
        --animate-in: highlight-to-right 0.5s forwards;
        --animate-out: var(--is-hovered-once, highlight-to-left 0.8s 0.1s forwards);
      }
    }

    &.animate:has(> span:hover) > span {
      --highlight-animate: var(--animate-in);
    }

    &.animate:has(> span:not(:hover)) > span {
      --highlight-animate: var(--is-hovered-once, var(--animate-out));
      --highlight-animate: var(--animate-out);
    }
  }
}

@keyframes highlight-to-left {
  0% {
    background-size: 0% 100%;

    // background-color: transparent;
    color: var(--color-primary);
  }

  50% {
    background-size: 100% 100%;

    // color: white;
    // background-position: left;
  }

  100% {
    background-size: 100% 100%;
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    color: white;
  }
}

@keyframes highlight-to-right {
  0% {
    background-size: 100% 100%;

    // background-position: right;
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    color: white;
  }

  50% {
    background-size: 100% 100%;
    background-position: right;
  }

  100% {
    background-size: 0% 100%;
    background-color: transparent;
    background-position: right;
    color: var(--color-primary);
  }
}
