@use '../utils' as utils;

// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.drawer-slide-enter-active {
  animation: drawer-slide-in 0.5s ease;
}

.drawer-slide-leave-active {
  animation: drawer-slide-out 0.5s ease;
}

// .drawer-slide-enter-from,
// .drawer-slide-leave-to {
//   transform: translateX(100%);
// }

// @keyframes modal-fade-out {
//   from {
//     --modal-opacity: 100%;
//     --modal-z-index: 100;
//   }

//   to {
//     --modal-opacity: 0%;
//     --modal-z-index: 0;
//   }
// }

// @keyframes modal-fade-in {
//   from {
//     --modal-opacity: 0%;
//     --modal-z-index: 0;
//   }

//   to {
//     --modal-opacity: 100%;
//     --modal-z-index: 100;
//   }
// }

@keyframes drawer-slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes drawer-slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes checked-in {
  0% {
    --transform-scale: 0;
    background-color: transparent;
  }

  100% {
    --transform-scale: 1;
    background-color: utils.color(main-dark, black);
  }
}

@keyframes checked-out {
  0% {
    --transform-scale: 1;
    background-color: utils.color(main-dark, black);
  }

  100% {
    --transform-scale: 0;
    background-color: transparent;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
