// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
:root {
  --border-radius: 0;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;

  --box-shadow-base: var(--box-shadow-x) var(--box-shadow-y) 0 0 black;
  --box-shadow-hover: var(--box-shadow-x) var(--box-shadow-y) 0 0 var(--primary);
}

@mixin theme-component {
  --component-bg: var(--primary);
  --component-color: var(--main-dark);
  --component-box-shadow: var(--box-shadow-base);

  margin: var(--space-xs);
  border: 2px solid var(--main-dark);
  border-radius: var(--border-radius);
  background-color: var(--component-bg);
  box-shadow: var(--component-box-shadow);
  color: var(--component-color);
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    --component-box-shadow: var(--box-shadow-hover);
  }

  &:active,
  &:focus-visible {
    transform: translate(4px, 4px);
    --component-box-shadow: unset;
    // box-shadow: 0px 0px 0px 0;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    // &:hover,
    // &:active,
    // &:focus {
    //   transform: none;
    //   box-shadow: var(--box-shadow-base);
    // }
  }

  &.raw {
    // margin: 0;
    box-shadow: none;
    // color: inherit;
    // font-size: inherit;
    // font-weight: inherit;

    &:hover {
      transform: none;
      box-shadow: none;
    }

    &:active,
    &:focus-visible {
      transform: none;
      box-shadow: none;
    }
  }
}

html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

// TODO: check on-event
// /**
//  * Basic styles for links
//  */
// a {
//   color: $brand-color;
//   text-decoration: none;

//   @include on-event {
//     color: $text-color;
//     text-decoration: underline;
//   }
// }
