:root {
  --color-primary: #fbe134;
  --primary: hsl(from var(--color-primary) h s l / 100%);
  --color-main-dark: #0b0c0c;
  --main-dark: hsl(from var(--color-main-dark) h s l / 100%);
  --color-bg: #0b0c0c;

  /*
   * TODO: search if we keep color-mix
   * sources:
   * https://una.im/color-mix-opacity/
   * https://developer.chrome.com/docs/css-ui/css-color-mix
   */
  --primary-80: color-mix(in srgb, var(--primary) 80%, transparent);
  --primary-60: color-mix(in srgb, var(--primary) 60%, transparent);
  --primary-40: color-mix(in srgb, var(--primary) 40%, transparent);
  --primary-20: color-mix(in srgb, var(--primary) 20%, transparent);
  --primary-10: color-mix(in srgb, var(--primary) 10%, transparent);
  --color-white: #fff;
  --text-color: ;
  --theme-color: var(--color-primary);

  --initial-light: #f5f5f5;

  /* TODO: Dark Mode? */
  /* Or apply it via media query */
  @media (prefers-color-scheme: dark) {
    // --color-primary: var(--main-dark);
  }
}
