@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap';

@font-face {
  font-family: gotham;
  src: url('../../fonts/GOTHAM-BOLD.woff') format('woff');
}

@font-face {
  font-family: gotham-book;
  src: url('../../fonts/GOTHAM-BOOK.woff') format('woff');
  font-weight: bold;
}

body {
  // font-family: 'Roboto Slab', serif;
  font-family: gotham-book;
}
