/**
 * Basic typography style for copy text
 */
// body {
//   color: $text-color;
//   font: normal 125% / 1.4 $text-font-stack;
// }

:root {
  /* https://utopia.fyi/type/calculator/?c=320,16,1.25,1620,16,1.5,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step -2: 10.24px → 7.1111px */
  --text-xs: clamp(0.4444rem, 0.6881rem + -0.2407vw, 0.64rem);
  /* Step -1: 12.8px → 10.6667px */
  --text-sm: clamp(0.6667rem, 0.8328rem + -0.1641vw, 0.8rem);
  /* Step 0: 16px → 16px */
  --text-md: clamp(1rem, 1rem + 0vw, 1rem);
  /* Step 1: 20px → 24px */
  --text-lg: clamp(1.25rem, 1.1885rem + 0.3077vw, 1.5rem);
  /* Step 2: 25px → 36px */
  --text-xl: clamp(1.5625rem, 1.3933rem + 0.8462vw, 2.25rem);
  /* Step 3: 31.25px → 54px */
  --text-xxl: clamp(1.9531rem, 1.6031rem + 1.75vw, 3.375rem);
  /* Step 4: 39.0625px → 81px */
  --h1: clamp(2.4414rem, 1.7962rem + 3.226vi, 5.0625rem);
  /* Step 5: 48.8281px → 121.5px */
  // --h1: clamp(3.0518rem, 1.9337rem + 5.5901vw, 7.5938rem);

  /* Step 5: 67.34px → 199.60px */
  --h1-highlight: clamp(4.2088rem, 2.174rem + 10.1738vw, 12.475rem);
  /* --h1: clamp(1.3688rem, 2.174rem + 10.1738vw, 12.475rem); */
}

h1,
.text-h1 {
  font-size: var(--h1);
}

h2,
.text-xxl {
  font-size: var(--text-xxl);
}

h3,
.text-xl {
  font-size: var(--text-xl);
}

h4,
.text-lg {
  font-size: var(--text-lg);
}

p {
  font-size: var(--text-md);
  margin: var(--space-xs) 0;
}

.text-sm {
  margin-bottom: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}
