@use '@/assets/scss/utils' as utils;
@use '../utils/mixins' as mixins;

@mixin resolve-state($state) {
  @include mixins.resolve-lch-value('state', #{$state});
  @include mixins.state(
    bg-lightness,
    calc(var(--state-base-bg-lightness) - var(--state-#{$state}-bg-lightness))
  );
  @include utils.component(box-shadow, utils.component(box-shadow-#{$state}));

  &:not(.raw) {
    @include utils.component(transform, utils.component(transform-#{$state}));
  }

  --state: #{$state};
}

@mixin base {
  @include resolve-state(base);
  @content;
}

@mixin hover {
  @include resolve-state(hover);
  @content;
}

@mixin focus {
  @include resolve-state(focus);
  @content;
}

@mixin active {
  @include resolve-state(active);
  @content;
}

@mixin disabled {
  @include resolve-state(disabled);
  @content;
}

.base:not([disabled], .disabled) {
  @include base;
}

:is(.hover, :hover):not([disabled], .disabled) {
  @include hover;
}

:is(.focus, .focus-visible, :focus, :focus-visible):not([disabled], .disabled, .base) {
  @include focus;
}

:is(.active, :active):not([disabled], .disabled, .base) {
  @include active;
}

:is(.disabled, :disabled, [disabled]) {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  @include disabled;
}
