@use '@/assets/scss/utils' as utils;
@use '../utils/mixins' as mixins;

@mixin resolve-state($state) {
  @include mixins.resolve-lch-value('state', #{$state});
  @include mixins.state(
    bg-lightness,
    calc(var(--state-base-bg-lightness) + var(--state-#{$state}-bg-lightness))
  );
  @include utils.component(box-shadow, utils.component(box-shadow-#{$state}));
  @include utils.component(transform, utils.component(transform-#{$state}));

  --state: #{$state};
}

@mixin base {
  &.base:not([disabled]):not(.disabled) {
    @include resolve-state(base);

    @content;
  }
}

@mixin hover {
  &:not([disabled]):not(.disabled) {
    &:hover,
    &.hover {
      @include resolve-state(hover);

      @content;
    }
  }
}

@mixin focus {
  &:not([disabled]):not(.disabled) {
    &:focus,
    &.focus-visible,
    &.focus,
    &:focus-visible {
      @include resolve-state(focus);
      @content;
    }
  }
}
@mixin active {
  &:not([disabled]):not(.disabled) {
    &:active,
    &.active {
      @include resolve-state(active);

      @content;
    }
  }
}

@mixin disabled {
  &:disabled,
  &.disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    @include resolve-state(disabled);

    @content;
  }
}
