@use '../utils/mixins' as mixins;
@use '../utils/functions' as functions;
@use './state' as state;

// Call the mixin to calculate all variants and all properties dynamically

@mixin contained {
  @include mixins.resolve-lch-value('variant', contained);
  @include mixins.component(color-text, white);
}

@mixin outlined {
  @include mixins.resolve-lch-value('variant', outlined);
  @include mixins.component(border-style, solid);
  @include mixins.component(border-color, var(--theme-current-color));
  // @include mixins.component(color-text, var(--theme-current-color));
  @include mixins.component(bg-opacity, var(--variant-bg-opacity));
  // @include mixins.component(bg-opacity, var(--state-base-bg-opacity));

  @include state.hover {
    // @include mixins.component(bg-opacity, var(--state-active-bg-lightness));
  }

  @include state.focus {
    // @include mixins.component(bg-opacity, var(--state-base-bg-lightness));
  }

  @include state.active {
    @include mixins.component(bg-opacity, var(--state-active-bg-lightness));
  }

  [data-state='disabled'] & {
    // @include mixins.component(bg-opacity, var(--state-disabled-bg-lightness));
  }
  // @include state.disabled {
  //   @include mixins.component(bg-opacity, var(--state-disabled-bg-lightness));
  // }
}

@mixin text {
  @include mixins.resolve-lch-value('variant', text);
  @include mixins.component(box-shadow, none);

  box-shadow: none;
  transform: none;

  @include mixins.component(color-text, var(--theme-current-color));

  @include state.hover {
    @include mixins.component(bg-opacity, var(--state-active-bg-lightness));

    --variant-text-border-opacity: 1; // @include mixins.component(bg-opacity, var(--state-hover-bg-lightness));
  }

  @include state.focus {
    @include mixins.component(bg-opacity, var(--state-base-bg-lightness));

    // @include mixins.component(border-width, 2px);
    // @include mixins.component(border-style, solid);
    // @include mixins.component(color-border, currentcolor);
  }

  @include state.active {
    @include mixins.component(bg-opacity, var(--state-hover-bg-lightness));

    outline: 2px solid currentcolor;
  }

  @include state.disabled {
    @include mixins.component(bg-opacity, var(--state-disabled-bg-lightness));
  }
}
