@use '@/assets/scss/utils' as *;
@use '@/assets/scss/global.scss' as *;

.y-card {
  @include theme-component;
  @include component(bg-opacity, 0.5);

  // @include component(bg, hsla(from color(primary) h s l / component(bg-opacity)));

  padding: space(sm);
  border-radius: var(--border-radius);
  word-wrap: break-word;
}
