// @use '../utils' as utils;

.y-color-input {
  display: inline-block;
  cursor: pointer;

  [type='color'] {
    opacity: 0;

    // cursor: pointer;
    height: 100%;
    width: 100%;
  }

  @include theme-component;

  // @include raw-component;

  // --component-bg: var(--main-dark);
  // --component-color: var(--primary);
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --component-padding-x: 0;
  --component-padding-y: 0;
  --component-bg: unset;

  // --box-shadow-color: var(--color-dark);
  --component-margin-bottom: 0;

  height: calc(2 * var(--space-unit));
  width: calc(6 * var(--space-unit));
  background-color: v-bind('modelValue');

  &.y-input-small {
    padding: var(--space-xs);

    --component-padding-y: var(--space-xs);
    --component-padding-x: var(--space-xs);
  }

  &.y-input-big {
    --component-padding-y: var(--space-unit);
  }

  // TODO: check if to keep these 3 classes
  .error-label {
    font-size: 80%;
  }

  .no-border {
    border: none;
  }

  .no-margin {
    margin-bottom: 0;
  }
}
