.y-section {
  container-type: inline-size;
  container-name: y-section
}

@container y-section(min-width: 0) {
  .y-vertical-title {
    font-size: clamp(8.125rem, 4cqi + 0.1rem,
        /*2.875rem*/
        3.4rem);
  }
}

@container y-section(min-width: 768px) {
  .y-vertical-title {
    font-size: clamp(8.125rem, 5cqi + 0.1rem, 3.4rem);
  }
}