// Uncomment if needed
@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/global.scss' as *;

// TODO: change to kebab-case
.y-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 22px 10px;

  @include media(tablet) {
    flex-wrap: nowrap;
    padding: 40px 20px 10px 0;

    .y-vertical-title {
      //   font-size: utils.text(xxl);

      //   // Need to re-calculate as initially set in SCSS
      --space-unit: 1rem;
      --space-xs: calc(0.25 * var(--_spacing-unit));
    }
  }

  @include media(desktop) {
    padding: 50px 37px 0 0;
  }

  &:last-child {
    padding-bottom: 22px;

    @include media(desktop) {
      padding-bottom: 50px;
    }
  }

  // .y-section__content,
  // .y-section > :nth-child(2) {
  //   flex-grow: 1;
  // }

  // .y-vertical-title {
  //   font-size: clamp(8.125rem, 4cqi + 0.1rem, /*2.875rem*/ 3.4rem);
  // }
}

// @include media(tablet) {
//   .y-vertical-title {
//     font-size: clamp(8.125rem, 5cqi + 0.1rem, 3.4rem);
//   }
// }
