@layer components {
.y-menu {
  --padding-top: calc(
    var(--dense) * var(--menu-padding-top) + (1 - var(--dense)) * var(--menu-padding-top-dense)
  );
  --padding-bottom: calc(
    var(--dense) * var(--menu-padding-bottom) + (1 - var(--dense)) *
      var(--menu-padding-bottom-dense)
  );
  --gutter: calc(var(--dense) * var(--menu-gap) + (1 - var(--dense)) * var(--menu-gap-dense));

  padding: var(--padding-top) 0 var(--padding-bottom);
  gap: var(--gutter, var(--rt-menu-gap, var(--spacing-6)));
}
}
