$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;
$breakpoint-desktop-xxl: 1820px;

$breakpoints: (
  'mobile': $breakpoint-mobile,
  'tablet': $breakpoint-tablet,
  'desktop': $breakpoint-desktop,
  'desktop-xl': $breakpoint-desktop-xl,
  'desktop-xxl': $breakpoint-desktop-xxl,
);

@mixin desktop {
  @media screen and (min-width: #{$breakpoint-desktop}px) {
    @content;
  }
}

@mixin media($size) {
  $query: map-get($breakpoints, $size);

  @media only screen and (min-width: $query) {
    @content;
  }
}
