// Accessors for CSS Custom Properties

//  Colors
@function color($name, $fallback: '', $prefix: color) {
  @return var(--#{$prefix}-#{$name}, #{$fallback});
}

//  Components
@function component($name, $prefix: component, $fallback: '') {
  @return var(--#{$prefix}-#{$name}, #{$fallback});
}

//  Typography
@function text($name, $prefix: text) {
  @return var(--#{$prefix}-#{$name});
}

//  Spacing
@function space($name, $prefix: space) {
  @return var(--#{$prefix}-#{$name});
}

// Theme
@function theme($name, $prefix: theme) {
  @return var(--#{$prefix}-#{$name});
}

@function hslac($color, $alpha) {
  @if type-of($color) == 'color' {
    @return hsla(hue($color), saturation($color), lightness($color), $alpha);
  } @else {
    @error "You didn't pass a color object";
  }
}

// Sizes
@function size($name, $prefix: size) {
  @return var(--#{$prefix}-#{$name});
}

// Layout
@function layout($name, $prefix: layout) {
  @return var(--#{$prefix}-#{$name});
}

// Button
@function y-btn($name, $prefix: y-btn) {
  @return var(--#{$prefix}-#{$name});
}

// Checkbox
@function y-checkbox($name, $prefix: y-checkbox) {
  @return var(--#{$prefix}-#{$name});
}
