/* Needed for the animation
/* https://css-tricks.com/exploring-property-and-its-animating-powers/ */

/* @property --transform-scale {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
} */

.y-checkbox {
  --component-margin-bottom: 0;
  --component-padding-x: 0;
  --component-padding-y: 0;
  --component-height: 32px;

  cursor: pointer;
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 1;
  margin: 0;
  appearance: none;
  height: var(--_checkbox-size, var(--spacing-lg));
  width: var(--_checkbox-size, var(--spacing-lg));
  padding: var(--_checkbox-padding, var(--spacing-xs));
  border-radius: var(--_checkbox-radius, var(--border-radius-medium));

  &::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    inset: 50%;

    --transform-scale: 0;

    /* border: var(--border-theme-50); */
    background-color: var(--_checkbox-bg, var(--color-bg-primary));
    box-sizing: border-box;

    /* transform: translate(var(--_checkbox-checkmark-translate))
      scale(var(--transform-scale)); */
    transform: translate(-50%, -50%) scale(0);

    /* animation: var(--checkbox-animation); */
    transition:
      transform 200ms ease,
      background-color 200ms ease;
  }

  &:checked {
    /* --checkbox-animation: var(--checkbox-animation-checked-in); */

    &::before {
      transform: translate(-50%, -50%) scale(1);
      background-color: var(--color-main-dark);
    }
  }

  &:active,
  &:focus {
    --state-bg-lightness: var(--state-hover-bg-lightness);
  }
}
