@use '@/assets/scss/utils/index' as *;
@use '@/assets/scss/global.scss' as *;
@use '@/assets/scss/theme/theme.scss' as theme;

// Needed for the animation
// https://css-tricks.com/exploring-property-and-its-animating-powers/
@property --transform-scale {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.y-checkbox {
  @include theme-component;
  @include interactive-component;
  @include component(margin-bottom, 0);
  @include component(padding-x, 0);
  @include component(padding-y, 0);

  // height: calc(0.75 * y-checkbox(height));

  @include component(height, 32px);

  @include theme.active {
    @include state(bg-lightness, var(--state-hover-bg-lightness));
  }

  @include theme.focus {
    @include state(bg-lightness, var(--state-hover-bg-lightness));
  }

  @include theme.active {
    @include state(bg-lightness, var(--state-hover-bg-lightness));
  }

  @include theme.focus {
    @include state(bg-lightness, var(--state-hover-bg-lightness));
  }

  @include theme.active {
    @include state(bg-lightness, var(--state-hover-bg-lightness));
  }

  @include theme.focus {
    @include state(bg-lightness, var(--state-hover-bg-lightness));
  }

  cursor: pointer;
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 1;
  margin: 0;
  appearance: none;

  &::before {
    content: '';
    border-color: var(--color-primary);
    display: flex;

    --transform-scale: 0;

    transition: 120ms transform ease-in-out;
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--transform-scale));
    animation: var(--y-checkbox-animation);
  }

  &:checked {
    --y-checkbox-animation: var(--animate-checked-in);
  }

  &:not(:checked) {
    --y-checkbox-animation: var(--animate-checked-out);
  }
}

.y-checkbox-wrapper .y-checkbox {
  --animate-checked-in: checked-in 0.3s 0s forwards;
  --animate-checked-out: var(--has-changed-once, checked-out 0.3s 0s forwards);
}

.y-checkbox-wrapper:has(.y-checkbox:checked),
.y-checkbox-wrapper:has(.y-checkbox:checked) .y-checkbox {
  --y-checkbox-animation: var(--animate-checked-in);
}

.y-checkbox-wrapper:has(.y-checkbox:not(:checked)) .y-checkbox {
  --y-checkbox-animation: var(--animate-checked-out);
}
