/* Needed for the animation */
/* https://css-tricks.com/exploring-property-and-its-animating-powers/ */
@property --transform-scale {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.y-checkbox {
  --component-margin-bottom: 0;
  --component-padding-x: 0;
  --component-padding-y: 0;
  --component-height: 32px;

  cursor: pointer;
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 1;
  margin: 0;
  appearance: none;

  &::before {
    content: '';
    border-color: var(--color-primary);
    display: flex;

    --transform-scale: 0;

    transition: 120ms transform ease-in-out;
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--transform-scale));
    animation: var(--y-checkbox-animation);
  }

  &:checked {
    --y-checkbox-animation: var(--animate-checked-in);
  }

  &:not(:checked) {
    --y-checkbox-animation: var(--animate-checked-out);
  }

  &:active,
  &:focus {
    --state-bg-lightness: var(--state-hover-bg-lightness);
  }
}

.y-checkbox-wrapper .y-checkbox {
  --animate-checked-in: checked-in 0.3s 0s forwards;
  --animate-checked-out: var(--has-changed-once, checked-out 0.3s 0s forwards);
}

.y-checkbox-wrapper:has(.y-checkbox:checked),
.y-checkbox-wrapper:has(.y-checkbox:checked) .y-checkbox {
  --y-checkbox-animation: var(--animate-checked-in);
}

.y-checkbox-wrapper:has(.y-checkbox:not(:checked)) .y-checkbox {
  --y-checkbox-animation: var(--animate-checked-out);
}
