.y-button {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-family: gotham;
  text-transform: uppercase;
  font-weight: 700;

  --component-padding: var(--_spacing-md) var(--_spacing-sm);

  &:focus,
  &:focus-visible,
  &.focus {
    outline: 3px solid var(--theme-current-color);
    outline-offset: calc(var(--_layout-depth-base));
  }
}
