@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/global.scss' as theme;

.y-button {
  @include theme.theme-component;
  @include theme.interactive-component;

  cursor: pointer;
  text-transform: uppercase;

  @include utils.component(min-height, 45px);

  // @include utils.component(padding-y, 0);

  &:focus,
  &:focus-visible,
  &.focus {
    outline: 3px solid var(--theme-current-color);
    outline-offset: calc(var(--_layout-depth-base));
  }
}
