@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/theme.scss' as theme;

.y-button {
  @include theme.theme-component;
  @include theme.interactive-component;

  cursor: pointer;
  text-transform: uppercase;

  @include utils.component(height, 45px);
  // @include utils.component(padding-y, 0);
}
