@use '@/assets/scss/utils/index' as *;
@use '@/assets/scss/theme.scss' as *;

.y-checkbox {
  @include theme-component;
  @include interactive-component;

  @include component(margin-bottom, 0);
  @include component(padding-x, 0);
  @include component(padding-y, 0);
  height: calc(0.75 * y-checkbox(height));

  @include y-checkbox(height, component(height));

  cursor: pointer;
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 1;
  margin: 0;
  appearance: none;

  &::before {
    content: '';
    border-color: var(--color-primary);
    display: flex;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    width: var(--width);
    height: var(--height);
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;

    animation: var(--y-checkbox-animation);
  }

  &:checked {
    --y-checkbox-animation: var(--animate-checked-in);
  }

  &:not(:checked).is-clicked-once {
    --y-checkbox-animation: var(--animate-checked-out);
  }
}

.y-checkbox-wrapper .y-checkbox {
  --animate-checked-in: checked-in 0.3s 0s forwards;
  --animate-checked-out: var(--is-clicked-once, checked-out 0.3s 0s forwards);
}

.y-checkbox-wrapper:has(.y-checkbox:checked),
.y-checkbox-wrapper:has(.y-checkbox:checked) .y-checkbox {
  --y-checkbox-animation: var(--animate-checked-in);
}

.y-checkbox-wrapper:has(.y-checkbox:not(:checked)) .y-checkbox {
  --y-checkbox-animation: var(--animate-checked-out);
}
