// Uncomment if needed
@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/global.scss' as *;

// TODO: change to kebab-case
.y-header {
  & {
    $header-sm: 50px;
    $header-md: 60px;
    $header-lg: 65px;

    height: $header-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid var(--color-main-dark);
    margin-bottom: var(--space-unit);
    padding: var(--space-xxs) var(--space-unit);

    @include media('tablet') {
      height: $header-md;
    }

    @include media('desktop') {
      height: $header-lg;
    }
  }

  &.y-header-fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &.y-header-transparent {
    background-color: transparent;
  }

  // TODO:
  // &.y-header-relative-height {
  //   position: relative;
  //   width: 100%;
  //   height: $header-sm;

  //   @include media('tablet') {
  //     height: $header-md;
  //   }

  //   @include media('desktop') {
  //     height: $header-lg;
  //   }
  // }
}

.app-title {
  color: var(--color-main-dark);
  margin: 0;
  position: relative;
  font-size: utils.text(xl);
}

.app-title::first-letter {
  color: var(--color-primary);
}
