.y-header {
  --header-sm: 50px;
  --header-md: 60px;
  --header-lg: 65px;

  height: var(--header-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid var(--color-main-dark);
  margin-bottom: var(--_spacing-unit);
  padding: var(--_spacing-xxs) var(--_spacing-unit);

  &.y-header-fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &.y-header-transparent {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .y-header {
    height: var(--header-md);
  }
}

@media (min-width: 1024px) {
  .y-header {
    height: var(--header-lg);
  }
}

.app-title {
  color: var(--color-main-dark);
  margin: 0;
  position: relative;
  font-size: var(--text-xl);
}

.app-title::first-letter {
  color: var(--color-primary);
}
