.y-menu {
  border-width: 1px;
  border-style: solid;
  border-color: #737373;
  position: absolute;
  right: 0;
  max-width: 300px;
  background-color: inherit;
  padding-left: 1rem;
  padding-right: 1rem;

  --component-box-shadow: var(--component-box-shadow);
}
