/**
 * Holy Albatross utility
 * https://heydonworks.com/article/the-flexbox-holy-albatross-reincarnated/
 */
.holy {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
  --switch: 40rem;
}

.holy > * {
  flex-grow: 1;
  flex-basis: calc((var(--switch) - 100%) * 999);
  /* avoid overflow from long content */
  min-width: 0;
}
