@use '@/assets/scss/utils/index' as *;
@use '@/assets/scss/global.scss' as *;

.y-label {
  color: color(primary);

  // font-size: text(lg);
  margin: 0 space(xs) 0 0;
  display: inline-block;

  &:has(input) {
    cursor: pointer;
  }
}
