@use '@/assets/scss/utils' as utils;
@use '@/assets/scss/global.scss' as *;
@include utils.cssvars(
  'y-vertical-title',
  (
    // font-size-xs-and-xl: clamp(1.125rem, 2.6vw + 0.1rem, /*2.875rem*/ 3.4rem),
    font-size-xs-and-xl: utils.text(xxl),
    font-size-md: clamp(1.125rem, 3.5vw + 0.1rem, 3.4rem)
  )
);

.y-vertical-title {
  --heading-height: calc(1rem * 2.5);

  font-family: gotham;
  font-size: utils.component(font-size-xs-and-xl, 'y-vertical-title');
  font-weight: bold;
  text-transform: uppercase;
  color: var(--theme-color);
  position: relative;
  z-index: 1;
  min-height: var(--heading-height);
  text-align: center;
  flex: 1 0 100%;

  @include media(tablet) {
    font-size: utils.component(font-size-md, 'y-vertical-title');
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: unset;
    text-align: right;
    flex: unset;
    padding: 0 30px 0 28px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  @include media(desktop) {
    padding: 0 46px 0 37px;
  }

  @include media(desktop-xl) {
    font-size: utils.component(font-size-xs-and-xl, 'y-vertical-title');
  }
}
