:root {
  --y-vertical-title-font-size-xs-and-xl: var(--text-xxl);
  --y-vertical-title-font-size-md: clamp(1.125rem, 3.5vw + 0.1rem, 3.4rem);
}

.y-vertical-title {
  --heading-height: calc(1rem * 2.5);

  font-family: gotham;
  font-size: var(--y-vertical-title-font-size-xs-and-xl);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--theme-color);
  position: relative;
  z-index: 1;
  min-height: var(--heading-height);
  text-align: center;
  flex: 1 0 100%;
}

@media (width >= 768px) {
  .y-vertical-title {
    font-size: var(--y-vertical-title-font-size-md);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: unset;
    text-align: right;
    flex: unset;
    padding: 0 30px 0 28px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

@media (width >= 1024px) {
  .y-vertical-title {
    padding: 0 46px 0 37px;
  }
}

@media (width >= 1280px) {
  .y-vertical-title {
    font-size: var(--y-vertical-title-font-size-xs-and-xl);
  }
}
