/**
 * Collection name: Color Primitives
 * Mode: Light
 */

:root {
  --color-yellow-100: var(--color-pool-straw-gold-100);
  --color-yellow-200: var(--color-pool-straw-gold-200);
  --color-yellow-300: var(--color-pool-straw-gold-300);
  --color-yellow-400: var(--color-pool-straw-gold-400);
  --color-yellow-500: var(--color-pool-straw-gold-500);
  --color-yellow-600: var(--color-pool-straw-gold-600);
  --color-yellow-700: var(--color-pool-straw-gold-700);
  --color-yellow-800: var(--color-pool-straw-gold-800);
  --color-yellow-900: var(--color-pool-straw-gold-900);
  --color-yellow-base: var(--color-pool-straw-gold-base);
  --color-graphite-100: var(--color-pool-graphite-100);
  --color-graphite-200: var(--color-pool-graphite-200);
  --color-graphite-300: var(--color-pool-graphite-300);
  --color-graphite-400: var(--color-pool-graphite-400);
  --color-graphite-500: var(--color-pool-graphite-500);
  --color-graphite-600: var(--color-pool-graphite-600);
  --color-graphite-700: var(--color-pool-graphite-700);
  --color-graphite-800: var(--color-pool-graphite-800);
  --color-graphite-900: var(--color-pool-graphite-900);
  --color-graphite-base: var(--color-pool-graphite-base);
  --color-intense-cherry-100: var(--color-pool-intense-cherry-100);
  --color-intense-cherry-200: var(--color-pool-intense-cherry-200);
  --color-intense-cherry-300: var(--color-pool-intense-cherry-300);
  --color-intense-cherry-400: var(--color-pool-intense-cherry-400);
  --color-intense-cherry-500: var(--color-pool-intense-cherry-500);
  --color-intense-cherry-600: var(--color-pool-intense-cherry-600);
  --color-intense-cherry-700: var(--color-pool-intense-cherry-700);
  --color-intense-cherry-800: var(--color-pool-intense-cherry-800);
  --color-intense-cherry-900: var(--color-pool-intense-cherry-900);
  --color-intense-cherry-base: var(--color-pool-intense-cherry-base);
  --color-vanilla-custard-100: var(--color-pool-vanilla-custard-100);
  --color-vanilla-custard-200: var(--color-pool-vanilla-custard-200);
  --color-vanilla-custard-300: var(--color-pool-vanilla-custard-300);
  --color-vanilla-custard-400: var(--color-pool-vanilla-custard-400);
  --color-vanilla-custard-500: var(--color-pool-vanilla-custard-500);
  --color-vanilla-custard-600: var(--color-pool-vanilla-custard-600);
  --color-vanilla-custard-700: var(--color-pool-vanilla-custard-700);
  --color-vanilla-custard-800: var(--color-pool-vanilla-custard-800);
  --color-vanilla-custard-900: var(--color-pool-vanilla-custard-900);
  --color-vanilla-custard-base: var(--color-pool-vanilla-custard-base);
  --color-vanilla-cream-100: var(--color-pool-vanilla-cream-100);
  --color-vanilla-cream-200: var(--color-pool-vanilla-cream-200);
  --color-vanilla-cream-300: var(--color-pool-vanilla-cream-300);
  --color-vanilla-cream-400: var(--color-pool-vanilla-cream-400);
  --color-vanilla-cream-500: var(--color-pool-vanilla-cream-500);
  --color-vanilla-cream-600: var(--color-pool-vanilla-cream-600);
  --color-vanilla-cream-700: var(--color-pool-vanilla-cream-700);
  --color-vanilla-cream-800: var(--color-pool-vanilla-cream-800);
  --color-vanilla-cream-900: var(--color-pool-vanilla-cream-900);
  --color-vanilla-cream-base: var(--color-pool-vanilla-cream-base);
}
