/**
 * Collection name: Color Primitives
 * Mode: Light
 */

:root {
  --color-straw-gold-100: #fbefd2;
  --color-straw-gold-200: #e3c567;
  --color-straw-gold-300: #b79f52;
  --color-straw-gold-400: #8d7a3d;
  --color-straw-gold-500: #65572a;
  --color-straw-gold-600: #403718;
  --color-straw-gold-700: #1e1908;
  --color-straw-gold-800: #0a0600;
  --color-straw-gold-900: #030200;
  --color-straw-gold-base: #e3c567;
  --color-graphite-100: #dce0dc;
  --color-graphite-200: #b5b8b5;
  --color-graphite-300: #8f928f;
  --color-graphite-400: #6b6d6b;
  --color-graphite-500: #494b49;
  --color-graphite-600: #2a2b2a;
  --color-graphite-700: #101110;
  --color-graphite-800: #050505;
  --color-graphite-900: #010101;
  --color-graphite-base: #2a2b2a;
  --color-intense-cherry-100: #fbeeee;
  --color-intense-cherry-200: #f3cbcc;
  --color-intense-cherry-300: #ea9799;
  --color-intense-cherry-400: #e4595d;
  --color-intense-cherry-500: #b4363b;
  --color-intense-cherry-600: #7a2225;
  --color-intense-cherry-700: #450f11;
  --color-intense-cherry-800: #1c0304;
  --color-intense-cherry-900: #060001;
  --color-intense-cherry-base: #b4363b;
  --color-vanilla-custard-100: #edda9f;
  --color-vanilla-custard-200: #c2b382;
  --color-vanilla-custard-300: #998d65;
  --color-vanilla-custard-400: #72694b;
  --color-vanilla-custard-500: #4e4731;
  --color-vanilla-custard-600: #2c271a;
  --color-vanilla-custard-700: #131109;
  --color-vanilla-custard-800: #040302;
  --color-vanilla-custard-900: #010101;
  --color-vanilla-custard-base: #edda9f;
  --color-vanilla-cream-100: #f7eed3;
  --color-vanilla-cream-200: #d6c68c;
  --color-vanilla-cream-300: #ac9f70;
  --color-vanilla-cream-400: #857a55;
  --color-vanilla-cream-500: #5f573b;
  --color-vanilla-cream-600: #3b3624;
  --color-vanilla-cream-700: #1b180e;
  --color-vanilla-cream-800: #060503;
  --color-vanilla-cream-900: #010101;
  --color-vanilla-cream-base: #f7eed3;
}
