/**
 * Collection name: Color Semantics
 * Mode: Light
 */

:root {
  --color-primary-100: var(--color-straw-gold-100);
  --color-primary-200: var(--color-straw-gold-200);
  --color-primary-300: var(--color-straw-gold-300);
  --color-primary-400: var(--color-straw-gold-400);
  --color-primary-500: var(--color-straw-gold-500);
  --color-primary-600: var(--color-straw-gold-600);
  --color-primary-700: var(--color-straw-gold-700);
  --color-primary-800: var(--color-straw-gold-800);
  --color-primary-900: var(--color-straw-gold-900);
  --color-primary-base: var(--color-straw-gold-base);
  --color-secondary-100: var(--color-graphite-100);
  --color-secondary-200: var(--color-graphite-200);
  --color-secondary-300: var(--color-graphite-300);
  --color-secondary-400: var(--color-graphite-400);
  --color-secondary-500: var(--color-graphite-500);
  --color-secondary-600: var(--color-graphite-600);
  --color-secondary-700: var(--color-graphite-700);
  --color-secondary-800: var(--color-graphite-800);
  --color-secondary-900: var(--color-graphite-900);
  --color-secondary-base: var(--color-graphite-base);
  --color-accent-100: var(--color-intense-cherry-100);
  --color-accent-200: var(--color-intense-cherry-200);
  --color-accent-300: var(--color-intense-cherry-300);
  --color-accent-400: var(--color-intense-cherry-400);
  --color-accent-500: var(--color-intense-cherry-500);
  --color-accent-600: var(--color-intense-cherry-600);
  --color-accent-700: var(--color-intense-cherry-700);
  --color-accent-800: var(--color-intense-cherry-800);
  --color-accent-900: var(--color-intense-cherry-900);
  --color-accent-base: var(--color-intense-cherry-base);
  --color-neutral-100: var(--color-vanilla-custard-100);
  --color-neutral-200: var(--color-vanilla-custard-200);
  --color-neutral-300: var(--color-vanilla-custard-300);
  --color-neutral-400: var(--color-vanilla-custard-400);
  --color-neutral-500: var(--color-vanilla-custard-500);
  --color-neutral-600: var(--color-vanilla-custard-600);
  --color-neutral-700: var(--color-vanilla-custard-700);
  --color-neutral-800: var(--color-vanilla-custard-800);
  --color-neutral-900: var(--color-vanilla-custard-900);
  --color-neutral-base: var(--color-vanilla-custard-base);
}
